/************************ Template ***********************/

body, html{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #ecf0f1;
    font-family: Helvetica, Arial, sans-serif;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:#858535;
}

hr{
    margin-top: 10px;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

fieldset {
    border:none;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

nav{
    z-index: 1;
    height: 90px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid grey;
    position: fixed;
    margin-bottom: 10px;
    background: #C7B43B;
    background: -webkit-linear-gradient(center center, rgb(179, 155, 58) 30%, rgb(181, 170, 53) 49%, rgb(199, 180, 59) 70%);
    background: -moz-linear-gradient(center center, rgb(179, 155, 58) 30%, rgb(181, 170, 53) 49%, rgb(199, 180, 59) 70%);
    background: -o-linear-gradient(center center, rgb(179, 155, 58) 30%, rgb(181, 170, 53) 49%, rgb(199, 180, 59) 70%);
    background: -ms-linear-gradient(center center, rgb(179, 155, 58) 30%, rgb(181, 170, 53) 49%, rgb(199, 180, 59) 70%);
    -webkit-box-shadow: 0px 0px 8px 2px #808080;
    -moz-box-shadow: 0px 0px 8px 2px #808080;
    box-shadow: 0px 0px 8px 2px #808080;
}

input[type="submit"]{
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:auto auto auto auto;
}

input[type="submit"]:hover {
    color: #C7B43B;
    background-color: #000000;
}

.email{
    background-image: url(http://electricathletics.com/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.name{
    background-image: url(http://electricathletics.com/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.body{
    background-image: url(http://electricathletics.com/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    height:200px;
}

.navHolder{
    min-width:800px;
    width:900px;
    margin: auto auto auto auto;
    padding-left: 20px;
    font-size: 30px;
}

.searchUsername{
    width:300px;
    float:right;
    overflow: hidden;
}

.rNav {
    padding-top: 52px;
    width:600px;
}

.navLinks {
    height:auto;
    width:auto;
}

.navLinks a{
    color:#000;
    margin-right:7px;
}

.navLinks a:hover{
    color:#6b6b6b;
}

.logo {
    margin-top:10px;
    width:100px;
    height:35px;
    float:left
}

.search{
    float:right;
    overflow:hidden;
    height:40px;
    width:270px;
    margin-top: 7px;
}

.searchForm{
    margin: 0 0 0 0;
    float:right;
}

.note{
    font-style: italic;
    font-size:10px;
    color: grey;
    float:left;
    margin-top:3px;
    margin-left:7px;
}

.searchBar{
    width:140px;
    height:40px;
    border-radius: 20px;
    background-image: url(http://electricathletics.com/images/search.png);
    background-size: 15px 15px;
    background-position: 6px 10px;
    background-repeat: no-repeat;
    padding: 6px 4px 4px 27px;
    box-shadow: inset 0 1px 3px #ddd;
    border: 3px solid rgba(0,0,0,0);
    font-size:15px;
}

.searchBar:focus{
    width:270px;
}

.container{
    min-width: 800px;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.holder{
    height:auto;
    width:auto;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}

.LR{
    float: right;
    font-size:23px;
    margin-top: 12px;
}

.hrGap{
    margin-top: -10px;
}

.footer{
    font-size:13px;
    font-color:grey;
    padding-bottom:10px;
}

.signinAvatar{
    width:30px;
    height:30px;
    float:right;
    margin-right:5px;
}

.usernameholder{
    height: 25px;
    width: 270px;
    margin-right:30px;
    margin-top: -5px;
    font-size: 25px;
}

.nameuser{
    margin-top: -5px;
    width:140px;
    height:40px;
    padding-left: 35px;
    padding-top: 7px;
}

.submit{
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submit:hover {
    color: #C7B43B;
    background-color: #000000;
}

.error{
    font-size:30px;
    color:red;
    text-align:center;
}

.articleHolder{
    width:800px;
    min-width: 800px;
    height:auto;
    margin: auto auto auto auto;
    line-height: 20px;
    padding: 10px 30px 0px 30px;
    border-left: 1px solid rgba(186, 186, 186, 0.59);
    border-right: 1px solid rgba(186, 186, 186, 0.59);
    background-color: #f7f7f7;
    overflow: auto;
}

#loginSpan:hover{
    cursor: pointer;
    color: #858535;
}

#registerSpan:hover{
    cursor: pointer;
    color: #858535;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

/*************************** Home Page ***************************/

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 15px;
}

.articlePreview{
    width:800px;
    min-width: 800px;
    margin:auto auto auto auto;
    min-height: 300px;
    height:auto;
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.articleTime{
    font-style: italic;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-color:#bdbdbd;
}

.articleTitle{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    float:left;
}

.articlePhoto{
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.articleDesc{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.readMore{

}

.type{
    padding-right: 135px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 16px;
}

/***************** Article Page ****************/

.blogTitle{
    font-size:20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 2px;

}

.blogType{
    font-style: italic;
    font-size: 15px;
    padding-bottom: 2px;

}
.blogTime{
    font-style: italic;
    font-size: 15px;
    padding-bottom: 2px;
}

.blogDesc{
    font-style: italic;
    color: #818181;
    font-size:15px;
}

.blogArticle{
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
}

.tagHolder{
    width:800px;
    height:auto;
    font-size:11px;
    color:grey;
}

.tag{
    float:left;
    color:grey;
    margin-left: 5px;
}

.tag a{
    color:grey;
}

.tag a:hover{
    color:black;
}

.blogPhoto{
    width: 600px;
    height: 338px;
    border: 1px solid rgba(1, 1, 1, 0.33);
    margin-left: 75px;
    margin-top: 15px;
}

.picDesc{
    font-size: 15px;
    text-align: center;

}

.sources{
    margin-top: 20px;
    font-size: 10px;
    font-style: italic;
    padding-bottom:10px;
}

.commentForm{
    margin: auto auto auto auto;
}

.commentFormDiv{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;

}

.commentFormDiv textarea{
    width:500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size:13px;
    overflow-y: scroll;
    resize: none;
}

.commentFormDiv input[type="submit"]{
    margin: auto auto auto auto;
}

.comments{
    width:600px;
    margin: auto auto auto auto;
}

.commentsTitle{
    font-size:20px;
    font-weight: bold;
    width:500px;
    height:auto;
}

.comment{
    width:500px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background:#fff;
    padding: 10;
}


.commentForm input[type="submit"]{
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.commentForm input[type="submit"]:hover {
    color: #C7B43B;
    background-color: #000000;
}

.commUser{
    font-weight:bold;
    font-size:15px
}

.commTime{
    font-style: italic;
    font-size:10px;
    margin-top: -8px;
}

.commText{
    font-size:15px;
}

.commentAvatar{
    width:50px;
    height:50px;
    float:left;
    margin-right:5px;
}

.noComments{
    margin-top:20px;
    font-weight:bold;
    font-size:20px;
    text-align: center;
}

.comment .commentButton{
    float:right;
    height:20px;
    width:20px;
    margin-right:10px;
    display:none;
}

.comment:hover .commentButton{
    float:right;
    height:15px;
    width:15px;
    margin-right:10px;
    display:block;
    cursor: pointer;
}
/***************** About Page ******************/

.aboutContainer{
    width:1000px;
    height:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


/**************** Contact Page ****************/

.formContact{
    width:500px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
    padding-bottom: 20px;
}

.formName, .formEmail{
    float:left;
    overflow: hidden;
    width:500px;
    margin-top: 5px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    border: 3px solid rgba(0,0,0,0);
}

.formBody{
    float:left;
    overflow: hidden;
    width:500px;
    margin-top: 5px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    border: 3px solid rgba(0,0,0,0);
}

.formGroup{
    padding: 0;
    margin: 0;
    border: 0;
    width:auto;
    height:auto;
    display:block;
}

.formEmail{
    background-image: url(http://electricathletics.com/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.formName{
    background-image: url(http://electricathletics.com/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.formBody{
    background-image: url(http://electricathletics.com/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    height:200px;
}

.formSend{
    float:left;
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formSend:hover {
    color: #C7B43B;
    background-color: #000000;
}

/********************* Thanks Page ********************/

.thanks{
    height: auto;
    width: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
}

/****************** Add Post **********************/

.addPostForm{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    overflow:hidden;
    width:500px;
    height:auto;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.addPostDiv input[type="text"]{
    overflow:hidden;
    width:500px;
    height:50px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.addPostDiv textarea{
    overflow:hidden;
    width:500px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow-y: scroll;
    resize: none;
}

.addDesc{
    height:100px
}

.addArticle{
    height:600px;
}

.sendArticle{
    float:left;
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sendArticle:hover {
    color: #C7B43B;
    background-color: #000000;
}

.tagList{
    width:200px;
    float:left;

}

.tags{
    font-size:15px;
}

/*********************** Login/Register *********************/

#formError{
    color: red;
    font-size: 20px;
    font-weight:bold;
    margin: 10px auto 10px auto;
    text-align: center;
}

/*********************** Login Page ************************/

.loginForm{
    width:500px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.loginForm input[type="text"], .loginForm input[type="password"], .loginForm input[type="email"]{
    overflow: hidden;
    width:500px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    border: 3px solid rgba(0,0,0,0);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.loginUsername{
    background-image: url(http://electricathletics.com/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.loginPassword{
    background-image: url(http://electricathletics.com/images/password.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.remember{
    margin-bottom: 10px;
    float:left;
}

.loginSend{
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.loginSend:hover {
    color: #C7B43B;
    background-color: #000000;
}

/******************** Register Page **********************/

.registerForm{
    width:500px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.registerForm input[type="text"], .registerForm input[type="password"], .registerForm input[type="email"]{
    overflow: hidden;
    width:500px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    border: 3px solid rgba(0,0,0,0);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.registerUsername{
    background-image: url(http://electricathletics.com/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.registerPassword, .registerPassword2{
    background-image: url(http://electricathletics.com/images/password.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.registerEmail{
    background-image: url(http://electricathletics.com/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.registerSend{
    overflow: hidden;
    width: 500px;
    height:40px;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #000000;
    border: 0 rgba(0,0,0,0);
    background-color: #C7B43B;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}

.registerSend:hover {
    color: #C7B43B;
    background-color: #000000;
}

/********************** Profile ********************/

.profileAvatar{
    height:100px;
    width:100px;
    margin-left:35px;
    margin-right:20px;
    float:left;
}

.profileRecentComments{
    width:600px;
    height:auto;
    margin-top:40px;
    margin-bottom:60px;
    margin-left: auto;
    margin-right: auto;
}

.commentTitle{
    font-weight:bold;
    font-size:20px;
    border-bottom: 1px #bababa solid;
    width:600px;
    margin-bottom:10px;
}

.commentArticleTitle{
    font-weight:bold;
    font-size:15px;
    margin-bottom: 5px;
}

.profileCheck{
    height:100px;
    width:500px;
}

.profileComment{
    width:600px;
    height:auto;
    border-bottom: 1px #bababa solid;
}

.editProfile{
    margin: 30px auto 20px auto;
}

.editProfile input[type="text"], .editProfile input[type="password"], .editProfile input[type="email"]{
    overflow: hidden;
    width:500px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    border: 3px solid rgba(0,0,0,0);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.formLabel{
    float:left;
    width:25px;
    font-size:20px;
    font-weight:bold;
    margin-top:25px;
}

/****************** Change Pass ******************/

.changeForm{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width:500px;
    height:auto;
}

#changePass{
    width:500px;
    height:50px;
    margin-bottom: 20px;
}

.changeForm input[type="password"]{
    overflow: hidden;
    width:500px;
    display: block;
    position: relative;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    border: 3px solid rgba(0,0,0,0);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/****************** Logout ***********************/

.logoutMessage{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    font-size:18px;
    font-weight: bold;
}

/****************** Search ***********************/

.query{
    text-align:center;
    font-size:25px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
}

.searchError{
    margin-top:10px;
    text-align: center;
    font-size:15px;
    font-weight: bold;
}

.searchBrands{
    margin-bottom:20px;
}

.searchTable{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

.searchRow{
    margin-top:10px;
    margin-bottom:10px;
}

.searchTypeTitle{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.searchHolder{
    height:75px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.searchPic{
    width:150px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.searchType{
    width:250px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.searchTitle{
    width:300px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.searchImg{
    height: 80px;
    width:100px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}

.searchImgHolder{
    text-align:center;
}

.searchTitles{
    font-weight:bold;
    font-size:15px;
    text-align: center;
}

.searchTypes{
    font-weight:bold;
    font-size:15px;
    text-align:center;
}