<div class="articleHolder">
        <div class="blogTitle">{{article.title}}</div>
        <div class="blogType"><a ng-href="/#/type/{{article.typeID}}">{{article.typeID | getType}}</a></div>
        <div class="blogTime">{{article.time | dateToISO | date:'MMM d-yyyy h:m a'}}</div>
        <div class="blogDesc">{{article.desc}}</div>
        <div class="tagHolder">
            <span style="float:left;">Tags:</span>

            <div class="tag" ng-repeat="tag in tags"><a href="/#/tags/{{tag.tagID}}">{{ getTagName(tag.tagID) }},</a></div>
        </div>
        <br/> <div class="editLink"><a href="/#/editpost/{{id}}">Edit Article</a></div>

        <img ng-src="{{article.pic}}" alt="Blog Photo" class="blogPhoto"/>
        <div class="picDesc">{{article.picDesc}}</div>
        <div class="blogArticle">
            <pre>{{article.article}}</pre>
        </div>

        <div class="commentFormDiv" ng-controller="comment" ng-init="checkComment()">
            <div ng-include="commentURL"></div>
        </div>

        <div class="comments">


            <div class="commentTitle">Comments:</div>
            <div class="comment" ng-repeat="comment in comments">


                <a ng-href="/#/profile/{{comment.userID}}" class="commUser"><img class="commentAvatar" ng-src="{{ getUserAvatar(comment.userID) }}" />{{ getUserName(comment.userID) }}:</a>
                <div class="commTime">{{comment.time | dateToISO | date:'MMM-d-yyyy h:m a'}}</div>
                <div class="commText">{{comment.comment}}</div>
            </div>

        </div>

        <div class="sources">
            Picture source is from: {{article.picSrc}}
        </div>
</div>