<div class="articleHolder">
        <div class="blogTitle">{{article.title}}</div>
        <div class="blogType"><a href="/#/type/{{article.typeID}}">{{article.typeID | getType}}</a></div>
        <div class="blogTime">{{article.time | dateToISO | date:'MMM d-yyyy h:m a'}}</div>
        <div class="blogDesc">{{article.desc}}</div>
        <div class="tagHolder">
            <span style="float:left;">Tags:</span>

            <div class="tag" ng-repeat="tag in tags"><a href="/#/tags/{{tag.tagID}}">{{ getTagName(tag.tagID) }},</a></div>
        </div>
        <br/> <div class="editLink"><a href="">Edit Article</a></div>

        <img src="{{article.pic}}" alt="Blog Photo" class="blogPhoto"/>
        <div class="picDesc">{{article.picDesc}}</div>
        <div class="blogArticle">
            <pre>{{article.article}}</pre>
        </div>

        <div class="commentFormDiv">
            <form method="POST" action="php/postComment.php" class="commentForm">
                <input type="hidden" name="userID" value="{{userID}}"/>
                <input type="hidden" name="articleID" value="{{id}}"/>
                <textarea class="commentText" name="commentText" placeholder="Comment Here..."></textarea>
                <input type="submit" value="Post Comment"/>
            </form>
        </div>
        <div class="comments">


            <div class="commentTitle">Comments:</div>
            <div class="comment" ng-repeat="comment in comments">


                <a href="/#/user/{{comment.userID}}" class="commUser">{{ getUserName(comment.userID) }}:</a>
                <div class="commTime">{{comment.time | dateToISO | date:'MMM-d-yyyy h:m a'}}</div>
                <div class="commText">{{comment.comment}}</div>
            </div>

        </div>

        <div class="sources">
            Picture source is from: {{article.picSrc}}
        </div>
</div>