<div class="articleHolder">
        <div class="title">Contact</div>
                <pre>
    Feel free to contact us through this form or by emailing us at <a href="mailto:contact@electricathletics.com">contact@electricathletics.com</a>

    If you have any questions or concerns they will be responded too very shortly.
                </pre>

        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="contactDiv">
            <form method="POST" ng-submit="sendEmail(email)" class="formContact" name="formEmail">
                <fieldset class="formGroup">
                    <p><input type="text" placeholder="Name" ng-model="email.name" class="formName"  id="contactName" name="name" required/></p>
                    <p><input type="text" placeholder="Email" ng-model="email.email" class="formEmail" id="contactEmail" name="email" required/></p>
                    <p><textarea placeholder="Message..." ng-model="email.message" class="formBody" id="contactMessage" name="message" required></textarea></p>
                    <input type="submit" class="formSend" name="formSend" value="Send!"/>
                </fieldset>
            </form>
        </div>
</div>