<div class="articleHolder">
    <div class="title">Update Article - {{blog.title}}</div>

    <div class="addPostDiv">
        <form method="POST" ng-submit="updateArticle(blog, tagList, newTags)" class="addPostForm">
            <formset>
                <input type="radio" name="addType" ng-model="blog.type" id="addSports" class="addType" value="2"/> Sports
                <input type="radio" name="addType" ng-model="blog.type" id="addTech" class="addType" value="1"/>Technology<br/>
                <input type="text" name="addTitle" ng-model="blog.title" placeholder="Title"><br/>
                <textarea type="text" name="addDesc" ng-model="blog.desc" id="addDesc" class="addDesc" placeholder="Description"></textarea><br/>
                <input type="text" name="addPic" ng-model="blog.pic" id="addPic" class="addPic" placeholder="Picture Link"><br/>
                <input type="text" name="addPicDesc" ng-model="blog.picDesc" id="addPicDesc" class="addPicDesc" placeholder="Picture Description"/><br/>
                <input type="text" name="addPicSrc" ng-model="blog.picSrc" id="addPicSrc" class="addPicSrc" placeholder="Picture Source"/><br/>
                <textarea placeholder="Article" ng-model="blog.article" name="addArticle" id="addArticle" class="addArticle"></textarea>
                <select multiple="multiple" ng-model="tagList" ng-options="t.tag for t in tags" size="6" class="tagList"></select>
                <input type="text" name="tagOther" ng-model="newTags" id="tagOther" class="tagOther" placeholder="Other Tags seperated by ,"/><br/>
                <input type="submit" name="sendArticle" class="sendArticle" id="sendArticle" value="Update"/>
            </formset>
        </form>
    </div>
    <br/>
</div>