<a ng-click="loginNow()">Test</a>
<div><span id="loginSpan" onclick="openLogin()">Login</span>/<span id="registerSpan" onclick="openRegister()">Register</span></div>

<div id="loginModal" title="Login" style="display: none" ng-controller="loginController">
    <form class="loginForm" id="loginForm" name="loginForm">
            <input type="text" name="loginUsername" ng-click="login.username" class="loginUsername" id="loginUsername" placeholder="Username/Email"/>
            <input type="password" name="loginPassword" ng-click="login.password" class="loginPassword" id="loginPassword" placeholder="Password"/>
            <input type="checkbox" name="remember" ng-click="login.remember" class="remember" id="remember"/>Remember Me<br/>

    </form>
    <button ng-click="loginNow()" class="loginSend" id="loginSend">Sign In!</button>
</div>

<div id="registerModal" title="Regiser" style="display: none" ng-controller="loginController">
    <form novalidate class="registerForm" id="registerForm" name="registerForm">
        <formset>
            <input type="text" name="registerUsername" ng-model="register.username" class="registerUsername" id="registerUsername" placeholder="Username" !required/>
            <input type="text" name="registerEmail" ng-model="register.email" class="registerEmail" id="registerEmail" placeholder="Email" !required/>
            <input type="password" name="registerPassword" ng-model="register.password1" class="registerPassword" id="registerPassword" placeholder="Password" !required/>
            <input type="password" name="registerPassword2" ng-model="register.password2" class="registerPassword2" id="registerPassword2" placeholder="Re-type Password" !required/>
            <button ng-click="registerNow()" class="registerSend" id="registerSend">Regiser!</button>
        </formset>
    </form>
</div>

<script>

    var loginDialog = $("#loginModal").dialog({
        autoOpen: false,
        height: 290,
        width: 650,
        modal: true
    });

    function openLogin(){
        loginDialog.dialog("open");
    }

    var registerDialog = $("#registerModal").dialog({
        autoOpen: false,
        height: 415,
        width: 650,
        modal: true
    });

    function openRegister(){
        registerDialog.dialog("open");
    }

</script>