<div class="articleHolder">
    <!--<div id="loading">
        <progressbar class="progress-striped active" value="{{progress}}" type="success">{{progess}}%</progressbar>
    </div>-->

    <div class="searchArticle">
        Articles:
        <div class="searchArticles" ng-repeat="article in articles">
            <a href="/#/article/{{article.id}}"><img class="searchArticleImg" ng-src="{{article.pic}}"/><div class="searchArticleType">{{article.typeID | getType}}</div><div class="searchArticleTitle">{{article.title}}</div></a>
        </div>
        <div id="searchArticlesError"></div>
    </div>

    <div class="searchTag">
        Tags:
        <div class="searchTags" ng-repeat="tag in tags">
            <a href="/#/article/{{tag.id}}"><img class="searchTagImg" ng-src="{{tag.pic}}"/><div class="searchTagType">{{tag.typeID | getType}}</div><div class="searchTagTitle">{{tag.title}}</div></a>
        </div>
        <div id="searchTagsError"></div>
    </div>

    <div class="searchUser">
        Users:
        <div class="searchUsers" ng-repeat="user in users">
            <a href="/#/profile/{{user.id}}"><img class="searchUserImg" ng-src="{{user.avatar}}"/><div class="searchUserTitle">{{user.username}}</div></a>
        </div>
        <div id="searchUsersError"></div>
    </div>
</div>